@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html, body, #root {
  height: 100%;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Nice selection */
::selection {
  background: #22d3ee33;
  color: #fff;
}
